# https://gitlab.com/ubports/porting/community-ports/android12/generic/kernel-android-common/-/blob/common-android12-5.10-halium/arch/arm64/configs/halium.config
CONFIG_SYSVIPC=y
CONFIG_PID_NS=y
CONFIG_USER_NS=y
CONFIG_VT=y
CONFIG_NULL_TTY=y
CONFIG_DEVTMPFS=y
# CONFIG_LTO_CLANG_FULL=y will fail without a LOT of RAM
CONFIG_LTO_CLANG_THIN=y

# bluebinder
CONFIG_BT_HCIVHCI=y

# Waydroid
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder,anbox-binder,anbox-hwbinder,anbox-vndbinder"
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_FILE_DIRECT=y
CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU=y

# Snap
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_LZO=y
CONFIG_SQUASHFS_XZ=y
CONFIG_SQUASHFS_ZSTD=y
# FIXME: breaks GKI ABI somehow, needed by some snaps like btop & qtcreator
#CONFIG_CGROUP_DEVICE=y

# ?
CONFIG_NR_CPUS=8

# Default to system dynpart boot (unless e.g. /data/ubuntu.img exists)
CONFIG_CMDLINE="stack_depot_disable=on kasan.stacktrace=off kvm-arm.mode=protected cgroup_disable=pressure cgroup.memory=nokmem systempart=/dev/mapper/system"

# mimir: Fix touchscreen random ghost touches due to himax_
# CONFIG_EXTRA_FIRMWARE_DIR="firmware-mimir"
# CONFIG_EXTRA_FIRMWARE="Himax_firmware.bin"
