# https://github.com/chimera-linux/cports/commit/bb3b812
# CONFIG_LRU_GEN=y
# CONFIG_LRU_GEN_ENABLED=y

# https://github.com/chimera-linux/cports/commit/5260ef7
# CONFIG_SERIAL_DEV_BUS=y
# CONFIG_SERIAL_DEV_CTRL_TTYPORT=y

# https://github.com/chimera-linux/cports/commit/1048f70
# CONFIG_DEBUG_INFO_BTF=y
# CONFIG_DEBUG_INFO_BTF_MODULES=y
# # CONFIG_MODULE_ALLOW_BTF_MISMATCH is not set
# CONFIG_PROBE_EVENTS_BTF_ARGS=y

# https://github.com/chimera-linux/cports/commit/d9604be
# CONFIG_ARCH_MMAP_RND_BITS_MAX=33
# CONFIG_PGTABLE_LEVELS=4
# CONFIG_ARM64_VA_BITS_48=y
# # CONFIG_ARM64_VA_BITS_52 is not set
# CONFIG_ARM64_VA_BITS=48
# CONFIG_ARM64_PA_BITS_48=y
# CONFIG_ARM64_PA_BITS=48

# https://github.com/chimera-linux/cports/commit/624da61
# # CONFIG_FB_HYPERV is not set

# https://github.com/chimera-linux/cports/commit/e441f96
# CONFIG_SERIAL_8250_MID=y

# https://github.com/chimera-linux/cports/commit/03dc27d
# # CONFIG_RT_GROUP_SCHED is not set
