# AppArmor
CONFIG_SECURITY_APPARMOR=y
CONFIG_LSM="lockdown,yama,loadpin,safesetid,integrity,apparmor,selinux,smack,tomoyo,bpf"
## ???
#CONFIG_DEFAULT_SECURITY_APPARMOR=y

# Snap
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_LZO=y
CONFIG_SQUASHFS_XZ=y
CONFIG_SQUASHFS_ZSTD=y
# FIXME: breaks GKI ABI somehow, needed by some snaps like btop & qtcreator
#CONFIG_CGROUP_DEVICE=y
